<div class="content">
  <div class="page">
    <article>
      <div class="page-header page-header-resume">
        <img src="/assets/qrcode.png" alt="" title="Ryan Stewart" />
        <h1>产品二维码展示系统</h1>
        <p class="lead">商家开展产品二维码营销的最便捷手段.</p>
      </div><!-- end page-header -->
      <div class="row">
        <div class="col-md-6">
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-envelope"></i> <a href="#none">master@inruby.com</a></li>
            <li><i class="fa-li fa fa-phone"></i> +64 9 123 4567</li>
            <li><i class="fa-li fa fa-mobile-phone"></i> +64 21 987 6543</li>
          </ul>
        </div><!-- end col-md-6 -->
        <div class="col-md-6">
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-facebook"></i> <a href="http://www.rxy123.com" target="_blank">www.rxy123.com</a></li>
            <li><i class="fa-li fa fa-twitter"></i> <a href="#none">www.twitter.com/website</a></li>
            <li><i class="fa-li fa fa-pinterest"></i> <a href="#none">www.pinterest.com/website</a></li>
          </ul>
        </div><!-- end col-md-6 -->
      </div><!-- end row -->
      <hr class="margin-top-10" />
      <h4>为什么选择产品二维码展示系统？</h4>
      <dl>
        <dt>不用建站，不用购买服务器 --- 产品就在云端！</dt>
        <dd>若企业按照传统方式开展二维码营销，则必须要搭建一个企业站点，购买服务器并保障服务的正常运行，这个过程费钱费力。而我们的产品二维码系统完全基于云计算架构，空间内存无限扩展，保证你的产品24小时在云端。</dd>
        <dt>产品二维码动态生成</dt>
        <dd>通过我们自主研发的产品二维码生成系统，动态生成产品二维码，并对每一个产品进行唯一标示，保障产品追踪，和二维码的线下使用.</dd>
        <dt>O2O一条龙服务</dt>
        <dd>在网上添加产品，动态生成二维码；同时我们提供统一的二维码打印设备和贴码技术，实现线上二维码雨线下产品的无缝结合.</dd>
      </dl>
      <hr />
    </article>
  </div><!-- end page -->
</div><!-- end content -->
  