<div class="content">
  <div class="page">
    <article>
      <div class="page-header">
        <h1>添加页面</h1>
        <p class="lead">想要获得更丰富的模板支持，<a href="/case">点击这里拷贝模板</a></p>
      </div><!-- end page-header -->
      <%= render 'form' %>
    </article>
  </div><!-- end page -->
</div><!-- end content -->
